/target/stale
/target
/lib
/checkouts
/resources/public/scripts/compiled
*~
*#
#*
*#*
pom.xml
pom.xml.asc
*.swp
*.jar
*.class
.floo
.flooignore
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.repl/
out/
